*{
  padding: 0;
  margin: 0; 
  box-sizing: border-box;
}
body{
   grid-template-rows: 100px 1fr 400px;

}
/*
div{
   background: lightgray;
   border: thin solid black;
}
*/


.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #99bbff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  border: 1px dotted black;
  
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: white;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
#mySidebar ul li a:hover{
  background:#ff6e00;
  border-radius: 2px;
}

.openbtn {
  font-size: 26px;
  cursor: pointer;
  background-color: #99bbff;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: white;
}

#main {
  position: fixed;
  transition: margin-left 0.5s;
  padding: 24px;
  width: 100%;
  top: 0px;
  left: 0px;
  background-color: #99bbff;
  min-height: 103px;
}
.logo{
    position: fixed;
    display: block;
    max-width: 125px;
    display: inline;
    right: 5px;
    top: 5px;

    
}
.header{
    
    top: 0px;
    width: 100%;
    z-index: 99;
    display: flex;
    
}
/*<--FUN PAGE START-->*/

 /*<---The box that includes little pictures,buttons-->*/
.firstpart{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  margin-top: 200px;
}
 .heading{
   flex-basis: 40%;
   text-align: center;
   color: #000;
   font-family: Arial,Helvetica,sans-serif;
   line-height: 1.4;
   font-size: 18px;
   padding: 0 1rem 1.5rem 1rem;
 }
 .heading h1{
   font-size: 40px;
   padding-bottom: 20px;
 }

 .tours{
   gap:0.5rem;
   flex:1;
   display: flex;
   justify-content: space-evenly;
   border:0.5rem solid white;
 }
 .places{
   text-align: center;
   border-radius: 20px;
 }
 /*<---The orange boxes over the little pictures-->*/
 #headingintours{
   background-color: orange;
   border-radius: 10px;
   height:5rem;
   padding-top: 2rem;
   margin-bottom: 1px;
 }
 #headingintours h2{
   font-size: 1.3rem;
   color: white;
 }


/*<-------SEE MORE BUTTONS----->*/
.btn{
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1rem;
  border-radius:12px;
  padding:12px 30px;
  border: .2rem solid black;
  color: black;
  cursor: pointer;
  background: none;
display: inline-block;
}
.heading .btn2{
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1rem;
  border-radius:18px;
  padding:12px 30px;
  border: .2rem solid black;
  color: black;
  cursor: pointer;
  background: none;
display: inline-block;
}
.btn2:hover{
  background: orange;
  color: #fff;
}
.btn:hover{
  background: orange;
  color: #fff;
}
/*<---FINISH-->*/
/*<---small picture frames-->*/
.places img{
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  border:3px solid orange
}
/*<---Big title, with text"FUN" in a decorated orange box-->*/
.body .heading h1{
  color: var(--black);
  font-size: 3rem;
}
/* <----Make Tittle "Fun" ->Orange Fun--->*/
.body .heading h1 span{
  color:orange;
  font-size: 3rem;
}
/*<----Finish --->*/

/*<----Start to make Read More Button-->*/
.heading a{
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-weight: bold;
  border-radius: 45px;
  padding: 14px 50px;
  background-color: #fff;
}
.heading a:hover{
  letter-spacing: 3px;
  transition: 0.6s;
}

/*<----Finish read more button--->*/

/*<----Font size of texts-->*/
.æ{
  font-size: 40px;
}
/*<--FINISH-->*/

/*<---TITLE "FUN IN OSLO"-->*/
#å{
  text-align: center;
  padding: 2rem 0;
  padding-bottom: 3rem;
  font-size: 3.5rem;

}
/*<-----Enclose text "Fun"in an decorated orange box-->*/
#å span{
  background: orange;
  color: #fff;
display: inline-block;

  padding: .5rem 3rem;
  font-size: 3.5rem;
  -webkit-clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
  clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}
/*<----Finish decorated box--->*/
/*<---Texts under title "FUN IN OSLO"-->*/
.text-section{
  display: flex;
  justify-content: center;

}
.text-section p{
    font-family: Arial,Helvetica,sans-serif;
    line-height: 1.4;
    font-size: 18px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.containert {

  margin-left: auto;
  margin-right: auto;
  margin-top: 9rem;
  max-width: 800px;
}
.containert h1{
    border-bottom: 2px solid orange;
}
 .containert img{
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  height: 400px;
}
.overtours{

}

@media  (max-width:1352px){
  .firstpart .heading h1{
    font-size: 30px;
  }
  .firstpart .heading h1 span{
    font-size:30px;
  }
}

@media (max-width:1238px){
  .firstpart{
    flex-wrap: wrap;
    justify-content: center;
  }
  .firstpart .heading h1{
    font-size: 45px;
  }
  .heading{
    flex-basis: 60%;
  }
  .firstpart .heading h1 span{
    font-size: 45px;
  }
  .heading p{
    padding-left: 2rem;
    text-align: left;
  }
  .tours{
    flex-basis: 100%;
  }
}


@media  (max-width:940px){

  .tours{
    flex-wrap: wrap;
  }

  .overtours{
    flex-basis: 100%;
}

  .places{
    width:300px;
    margin:10px;
  }

  .overplaces{
    display: flex;
    /*flex-basis: 100%;to get column*/
    justify-content: center;
  }
}

@media (max-width:776px) {
  .heading {
    flex-basis: 70%;
  }
}

@media (max-width:510px) {
  .firstpart .heading h1{
    font-size: 28px;
  }
  .firstpart .heading h1 span{
    font-size:28px;
}
}


@media only screen and (max-width: 600px){
  
  .text-section{
    display: flex;
    justify-content: center;
  }

  .containert {
    margin-left: auto;
    margin-right: auto;
    margin-top: 9rem;
    max-width: 800px;
    width: 80%;
  }

  .containert h1{
      border-bottom: 2px solid orange;
  }

   .containert img {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-height: 90%;
    max-width: 90%;
  }

}


  @media  only screen and  (max-width:960px) and (min-width:600px){
    
    .text-section{
      display: flex;
      justify-content: center;
    }
  
    .containert {
      margin-left: auto;
      margin-right: auto;
      margin-top: 9rem;
      max-width: 800px;
      width: 80%;
    }
  
    .containert h1{
        border-bottom: 2px solid orange;
    }
  
     .containert img {
      margin-left: auto;
      margin-right: auto;
      height: auto;
      max-height: 90%;
      max-width: 90%;
    }
}
/*<---Finish texts-->*/
/*<---FINISH FUN PAGE--->
/***************
FOOTER
***************/

footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #99bbff;
  height: 15rem;
  padding: 0.5rem;
  padding-top: 2rem;
}

footer .SoMe,
footer .foot_menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

footer .SoMe li,
footer .foot_menu li {
  list-style: none;
}

footer .SoMe li a {
  font-size: 3rem;
  color: #f4f4f4;
  margin: 0 0.7rem;
  display: inline-block;
  transition: 0.5s;
}

footer .SoMe li a:hover {
  transform: translateY(-7px);
}

footer .foot_menu li a {
  font-size: 1.5rem;
  color: #f4f4f4;
  margin: 0 0.5rem;
  display: inline-block;
  text-decoration: none;
  opacity: 0.7;
}

footer .foot_menu li a:hover {
  opacity: 100;
}